.font-roboto{
    font-family: 'Roboto', sans-serif;
   }

   /* professional section */

.professional{
    text-align: center;
    padding-top: 7%;
    /* width: 1040px; */
    height: 250px;
   }
 
 .facility{
    display: flex;
    text-align: center;
    height: 300px;
    padding-top: 7%;
    border: 5px;
    border-radius: 5px;
    background-color: rgb(183, 208, 236);
 }
 .junior-section{
    background-image: url('./Images/2.png');
    background-repeat: no-repeat;
    height: 100%;
 }
 .teenager-section{
    background-image: url('./Images/3.png');
    background-repeat: no-repeat;
 }
 .junior-teenager{
    display: flex;
    margin-top: 10px;
    height: 340px;
    justify-content: center;
    padding-left: 55px;
 }
 .text-2xl{
    color: #b0a4f8;
    margin-top: 150px;
    
 }
 .junior-des{
    color: #FFF;
    margin-top: 5px;
 }
 /* .program-section{
    background-image: url('./Images/4.png');
    background-repeat: no-repeat;
    height: 450px;
    width: 1300px;
    margin-top: 0%;
    margin-left: 60px;
    margin-left: 90px;

 } */
 /* .program-section{
   height: auto;
   /* width: 700px; */
   /* position: relative; */
   /* width: 800px; */
   /* margin-top: 40px; */
   /* margin-left: 60px; */
   /* margin-right: 40px; */
   /* padding-left: 0; */
   /* border-radius: 10px; */
   /* padding-right: 50px; */
 /* } */
 /* .program-section img{ */
   /* width: 100%; */
   /* display: block; */
 /* } */
 /* .text-section{ */
   /* position: absolute; */
   /* top: 5px; */
   /* left: 5px; */
   /* margin-top: 150px; */
 /* } */
/* .professional-des{ */
    /* width: 607px; */
    /* color: rgba(19, 19, 24, 0.60); */
    /* text-align: center; */
    /* font-family: Manrope; */
    /* font-size: 16px; */
    /* font-style: normal; */
    /* font-weight: 500; */
    /* line-height: 26px; 162.5% */
    /* margin-left: 360px; */
    /* margin-top: 10px; */
/* } */

@media screen and (max-width:600px) {
   .facility{
    flex-direction: column;
    text-align: center;
    height: 700px;
   }
   .junior-teenager{
    flex-direction: column;
    margin-top: 40px;
    justify-content: center;
    height: 750px;
    width: 900px;
    gap: 10px;
    padding-left: 3px;
   }
   .junior-des{
      justify-content: center;
   }
  
   
}
